<h1><%= link_to "Chicago Train Routes",controller: "train_run" %></h1>
<thead>
 <tr>
      <td ><b>Train Line</b></td>
      <td ><b>Route Name</b></td>
      <td ><b>Run Number</b></td>
      <td ><b>Operator ID</b></td>   
  </tr>
</thead>
<br />
  <% @train_runs.each do |trainrun| %>
    <tr>
      <td><%= trainrun.train_line %></td>
      <td><%= trainrun.route%></td>
      <td><%= trainrun.run_number %></td>
      <td><%= trainrun.operator_id %></td>
      <td><%= link_to 'Edit',edit_train_run_path(trainrun) %>
      <td><%= link_to 'Delete',train_run_path(trainrun), method: :delete, data: { confirm: 'Are you sure?' } %>

      </td>
    </tr>
    <br />
  <% end %>
  <br \>
  Add your train routes below.  Your file must be in CSV format with train line, route name, run number, and operator ID as the first four columns.<br /><br />
<%= form_tag({action: :upload}, multipart: true) do %>

  <div >
    <%= file_field_tag 'routefile' %><br \>
    <%= submit_tag( "Add file to train listings" ) %>
  </div>
<% end %>