<% if flash.now[:notice]=="failure" %>
    <div class="alert alert-danger">  Error reading CSV file. Check the contents of the file. </div>
<% end %>

<center>
<div class="container" >
<div class="starter-template" >
<h1>Chicago Train Routes</h1>
<table style='table-layout:fixed' class="table table-condensed" width=80% id="trainTable">
<style>
  td {overflow:hidden;}
</style>
<thead>
 <tr>
      <td ><b>Train Line</b></td>
      <td ><b>Route Name</b></td>
      <td ><b>Run Number</b></td>
      <td ><b>Operator ID</b></td>    
      <td width=10%></td>
      <td width=10%></td>
</tr>
</thead>
<br />
  <% @train_runs.each do |trainrun| %>
    <tr>
      <td><%= trainrun.train_line %></td>
      <td><%= trainrun.route%></td>
      <td><%= trainrun.run_number %></td>
      <td><%= trainrun.operator_id %></td>
      <td><%= link_to 'Edit',edit_train_run_path(trainrun) %>
      <td><%= link_to 'Delete',train_run_path(trainrun), method: :delete, data: { confirm: 'Are you sure?' } %>

      </td>
    </tr>
  <% end %>
  </table>
  <br \>
  Add your train routes by uploading a file below.  Your file must be in CSV format with train line, route name, run number, and operator ID as the first four columns.<br /><br />
<%= form_tag({action: :upload}, multipart: true) do %>

  <div class="form-group">
    <%= file_field_tag 'routefile' %><br \>
    <%= submit_tag( "Add file to train listings" ) %>
  </div>
<% end %>

</div>
</div>